#root {
  --background-color: #478a6b;
  --divider: black;
  --container: #2020bf/*#3ac1ffcc*/;
  --primary-color: #286E28;
  --icon-color: #3ac1ffcc/*#2e2ef5*/;
  --desktop-width: 992px;
  --error: #c91a2c;
  --font-size: 16;
  --line-height: calc(16 * 1.5);
}

#root, .app, .router{
  height: 100vh;
}

*{
  margin: 0;
}

ul {
  list-style-type: none;
}
a{
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
  text-align: center;
}

table{
  width: 100%;
  border-collapse: collapse; 
  margin: auto;
}

th{
  color: var(--container);
}

tr{
  border: 1px solid var(--divider);
}

td{
  text-align: center;
}

article.container {
  height: calc(100% - 66px);
  overflow-y : auto; /* show scrollbar only when need it*/
  background-color: var(--background-color);
  padding: 10px 2% 0 2%;
  width: 96%;
}

.loader{
  height: calc(100% - 50px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.columns{
  display: block;
}

@media screen and (min-width: 992px){
  article {
      position: absolute;
      top: 56px;
  }

  .loader {
    position: absolute;
    top: 56px;
  }

  .columns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  table{
    width: 80%;
  }
}